# Extracting Data from relational Databases

## SQLite database

### import package

In [1]:
#import sqlite3 package
import sqlite3

### Connect to database

In [3]:
# connect to DB, create database if it does not exist
connection = sqlite3.connect("techtalksdb.db")
connection.close()

### Create table

In [7]:
# open connection
connection = sqlite3.connect("techtalkdb.db")
# open cursor
cursor = connection.cursor()

# create table
create_table = """
CREATE TABLE Categories 
        (
            Id INT IDENTITY(1,1) PRIMARY KEY,
            categoryName NVARCHAR(50), 
            description NVARCHAR(100)
        );        
"""

In [8]:
# execute query
cursor.execute(create_table)

In [9]:
#commit changes
connection.commit()

In [10]:
# close connection
connection.close()

In [ ]:
INSERT INTO Categories(categoryName, description) VALUES('Meetup', 'Community event organized via meetup');
        INSERT INTO Categories(categoryName, description) VALUES('Free Conference', 'Free Tech Conference');
        INSERT INTO Categories(categoryName, description) VALUES('Paid Conference', 'Paid Tech Conference');
        INSERT INTO Categories(categoryName, description) VALUES('Hackathon', 'Hackathon');
        INSERT INTO Categories(categoryName, description) VALUES('Eventribe', 'Community event organized via Eventribe');
        
        CREATE TABLE Levels 
        (
            Id INT IDENTITY(1,1) PRIMARY KEY,
            levelName NVARCHAR(50)
        );
        
        INSERT INTO Levels(levelName) VALUES('100 - Beginer');
        INSERT INTO Levels(levelName) VALUES('200 - Intermediate');
        INSERT INTO Levels(levelName) VALUES('300 - Advanced');
        INSERT INTO Levels(levelName) VALUES('400 - Expert');
        
        CREATE TABLE TechTalk 
        (
            Id INT IDENTITY(1,1) PRIMARY KEY,             
            techtalkname NVARCHAR(50), 
            categoryId INT REFERENCES Categories(Id),
            levelId INT REFERENCES Levels(Id)
        );
        
INSERT INTO TechTalk(techtalkname, categoryId, levelId) VALUES ('Scaling Docker Containers', 1, 1); 
        INSERT INTO TechTalk(techtalkname, categoryId, levelId) VALUES ('Azure Container Services', 2, 2);
        INSERT INTO TechTalk(techtalkname, categoryId, levelId) VALUES ('Kubernetes', 3, 3);