# Extracting Data from relational Databases

## SQLite database

### import package

In [1]:
#import sqlite3 package
import sqlite3

### Connect to database

In [2]:
# connect to DB, create database if it does not exist
connection = sqlite3.connect("techtalksdb.db")
connection.close()

### Create table

In [3]:
# open connection
connection = sqlite3.connect("techtalksdb.db")
# open cursor
cursor = connection.cursor()

# create table
create_table = """
CREATE TABLE Categories 
        (
            Id INT IDENTITY(1,1) PRIMARY KEY,
            categoryName NVARCHAR(50), 
            description NVARCHAR(100)
        );        
"""

In [4]:
# execute query
cursor.execute(create_table)

OperationalError: table Categories already exists

In [5]:
#commit changes
connection.commit()

In [6]:
# close connection
connection.close()

### Insert Data in categories table

In [7]:
# open connection
connection = sqlite3.connect("techtalksdb.db")
# open cursor
cursor = connection.cursor()

# INSERT INTO Categories(categoryName, description) VALUES('Meetup', 'Community event organized via meetup');
# INSERT INTO Categories(categoryName, description) VALUES('Free Conference', 'Free Tech Conference');
# INSERT INTO Categories(categoryName, description) VALUES('Paid Conference', 'Paid Tech Conference');
# INSERT INTO Categories(categoryName, description) VALUES('Hackathon', 'Hackathon');
# INSERT INTO Categories(categoryName, description) VALUES('Eventribe', 'Community event organized via Eventribe');

# create table
insert_categories = """
    INSERT INTO Categories(categoryName, description) VALUES('Eventribe', 'Community event organized via Eventribe');
"""

#execute insert query
cursor.execute(insert_categories)

connection.commit()

connection.close()

### Query Data from Categories table

In [8]:
connection = sqlite3.connect("techtalksdb.db")

cursor = connection.cursor()

select_query = "SELECT * FROM Categories"

cursor.execute(select_query)

result = cursor.fetchall()

for row in result:
    print(row)

connection.close()

(None, u'Meetup', u'Community event organized via meetup')
(None, u'Free Conference', u'Free Tech Conference')
(None, u'Paid Conference', u'Paid Tech Conference')
(None, u'Hackathon', u'Hackathon')
(None, u'Eventribe', u'Community event organized via Eventribe')
(None, u'Eventribe', u'Community event organized via Eventribe')